<h1>POST content</h1>
<% @i = 0 -%>
<% @paramPOST.each do |param| -%>
    <% @i += 1 -%>
    Param <%= @i %>: <%= param %><br>
<% end -%>
POST content verdict: <%= @postContentIsValid %>
<%- if !@postContentIsValid %>
    </p> <b><%= @errorMsg %></b>
<%- end %>