<h1>Firmware management</h1>

<% testDef %>
Current <a href="/repository">repositories</a>: <%= FirmwareRepository.count %><br>
Current <a href="/firmware/new">firmware</a> objects: <%= Firmware.count %><br>