<h1>New firmware for repository</h1>
<form accept-charset="UTF-8" action="/firmware/create" method="post">
    Target project: <input type="text" name="firmware[project]" value="" /> <br>
    Version number: <input type="text" name="firmware[version_number]" value="" /> <br>
    Release type: <input type="text" name="firmware[release_type]" value="" /> <br>
    Can be released: <input type="checkbox" id="releaseCheck" name="canBeReleased" value="firmware[for_release]"><br>
    <input type="submit">
</form>