<h1>New firmware for repository</h1>

<% if FirmwareRepository.count > 0 %>
    <form accept-charset="UTF-8" action="/firmware/create" method="post">
        Authentication: <input type="text" name="firmware[authentication]" value="" /> <br>
        Target project:
            <select id="firmware[project]" name="repositories" />
                <%- FirmwareRepository.all.each do |repository| %>
                    <%- @option = repository.project %>
                    <option value="<%= @option %>"><%= @option %> (ID: <%= repository.id %>)</option>
                <%- end %>
            </select><br>
        Version number: <input type="text" name="firmware[version_number]" value="" /> <br>
        Release type: <input type="text" name="firmware[release_type]" value="" /> <br>
        Publish: <input type="checkbox" id="releaseCheck" name="firmware[for_release]" checked="true"><br>
        <input type="submit">
    </form>
<% else %>
    <b>No firmware repositories have been set up yet.</b><br>
    <a href="/repository/new">Create new</a>
<% end %>