<h1>New repository</h1>

<form accept-charset="UTF-8" action="/repository/create" method="post">
    Authentication: <input type="text" name="repository[authentication]" value="" /> <br>
    Project name: <input type="text" name="repository[project_name]" value="" /> <br>
    Project description: <input type="text" name="repository[description]" value="" /> <br>
    <input type="submit">
</form>