<!DOCTYPE html>
<html>
  <head>
    <title>Firmware management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/typescript" src="/typescript/global.ts"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript" src="/helper/typescript.min.js"></script>
  <script type="text/javascript" src="/helper/typescript.compile.min.js"></script>
</html>
